<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>选择装备实力</title>
    <!--
    Description：选择装备实力列表页面
    Author：李可 调整页面样式、js引用
    Date：2020/5/6
    -->
    <!--引入头js-->
    <script src="../../../assets/js-v/header.js"></script>

    <style type="text/css">
    </style>
</head>

<body>
<div style="margin: 0 0px;" id="app" v-cloak>
    <el-row style="padding-top:5px;">
        <el-col :span="24">
            <el-button type="success" size="mini" icon="el-icon-check" @click="saveSelectData">保存</el-button>
            <span style="line-height: 30px;height: 30px">模糊查询：</span>
            <el-input placeholder="请输入装备名称、编号查询(点击回车查询)" style="width: 300px;" v-model="keyWords" @change="getData">
                <!--<i slot="prefix" class="el-input__icon el-icon-search"></i>-->
            </el-input>
            <el-button type="success" size="mini" icon="feather icon-refresh-cw" @click="rest">重置</el-button>
        </el-col>
    </el-row>

    <template>
        <el-table ref="centerTable" :data="centerTableData" stripe tooltip-effect="dark"
                  style="width: 100%;margin-top: 5px;" :height="tblHeight" @selection-change="centerSelectionChange"
                  highlight-current-row border>
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="index" label="序号"></el-table-column>
            <el-table-column prop="ZBMC" label="装备名称" header-align="center"></el-table-column>
            <el-table-column prop="ZBBH" label="装备编号" header-align="center"></el-table-column>
            <el-table-column prop="ZBLY" label="装备来源" header-align="center"></el-table-column>
            <el-table-column prop="SSDWMC" label="所属单位" header-align="center"></el-table-column>
            <el-table-column prop="GLZRR" label="管理责任人" header-align="center"></el-table-column>
        </el-table>
    </template>

</div>
<!--底部js-->
<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/sys/jhtree/zbsl_xlxzjhsq.js"></script>
</body>

</html>