<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--引入js-->
    <script src="../../../assets/js-v/header.js"></script>
    <!--滚动条样式设置-->
    <link rel="stylesheet" href="/assets/css/page.css">

</head>

<body>

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content" style="padding-top: 0px;">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <!-- [ Hover-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">

                                <!-- 检索条件  -->
                                <div style="padding-left: 15px;padding-top: 5px;" class="queryLayout">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <a v-show="add" class="btn btn-light btn-sm" v-on:click="addUser"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-plus"></i>新增</a></shiro:hasPermission>

                                                <a v-show="del" class="btn btn-light btn-sm btn-danger"
                                                   v-on:click="makeAll('确定要删除选中的用户吗?')"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-trash-2"></i>删除</a>
                                            </td>
                                            <td><span class="searchName">模糊查询：</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: 220px;">
                                                    <input class="form-control" type="text" v-model="pd.keyWords"
                                                           onkeyup="keyDown()"
                                                           title="请输入编号、用户名、姓名查询" placeholder="请输入编号、用户名、姓名查询"/>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="searchName">&nbsp;&nbsp;最近登录时间：从&nbsp;&nbsp</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <input type="text" class="span10 date-picker form-control"
                                                           id="startTime"
                                                           startDateformat="yyyy-mm-dd" placeholder="开始时间"
                                                           title="最近登录开始时间"
                                                           style="width:150px;cursor: pointer" readonly>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="searchName">&nbsp;&nbsp;到&nbsp;&nbsp;</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <input type="text" class="span10 date-picker form-control"
                                                           id="endTime"
                                                           endDateformat="yyyy-mm-dd" placeholder="结束时间"
                                                           title="最近登录截止时间"
                                                           begintime="startTime" checknull="true"
                                                           checkerror="结束时间必须大于开始时间"
                                                           style="width:150px;cursor: pointer" readonly>
                                                </div>
                                            </td>
                                            <td style="padding-left:2px;vertical-align:top;"><span class="searchName">&nbsp;&nbsp;筛选：&nbsp;&nbsp;</span>
                                                <select class="js-example-placeholder-multiple col-sm-12" id="ROLE_ID"
                                                        data-placeholder="请选择角色">
                                                    <option value=""></option>
                                                    <template v-for="data in roleList">
                                                        <option v-bind:value="data.role_ID">{{data.role_NAME}}</option>
                                                    </template>
                                                </select>
                                            </td>
                                            <td style="vertical-align:top;padding-left:5px;">
                                                <a id="key-search" class="btn btn-light btn-sm" v-on:click="getJyList"
                                                   title="检索"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-search"></i>查询</a>

                                                <a class="btn btn-light btn-sm" v-on:click="rest" title="重置">
                                                    <i style="margin-top:-3px;margin-left: -6px;"
                                                       class="feather icon-refresh-cw"></i>重置</a>

                                                <a v-show="toExcel" class="btn btn-light btn-sm" v-on:click="goExcel"

                                                   title="导出到excel表格">
                                                    <i style="margin-top:-3px;margin-left: -6px;"
                                                       class="mdi mdi-cloud-download"></i>导出
                                                </a>

                                                <a v-show="fromExcel" class="btn btn-light btn-sm" v-on:click="getExcel"
                                                   title="从EXCEL导入到系统">
                                                    <i style="margin-top:-3px;margin-left: -6px;"
                                                       class="mdi mdi-cloud-upload"></i>导入
                                                </a>
                                            </td>
                                            <td v-show="loading">
                                                <!-- [加载状态 ] start -->
                                                <div class="d-flex justify-content-center" style="margin-top:-10px;">
                                                    <div class="spinner-grow spinner-grow-sm" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <!-- [ 加载状态  ] End -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 检索  -->

                                <div class="card-block table-border-style" style="margin-top: -15px">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th style="width: 35px;" id="cts">
                                                    <div class="checkbox d-inline">
                                                        <input type="checkbox" name="fhcheckbox" id="zcheckbox">
                                                        <label style="max-height: 12px;" for="zcheckbox"
                                                               class="cr"></label>
                                                    </div>
                                                </th>
                                                <th style="width:35px;">序号</th>
                                                <th>编号</th>
                                                <th>用户名</th>
                                                <th>姓名</th>
                                                <th>角色</th>
                                                <th>邮箱</th>
                                                <th>最近登录</th>
                                                <th>上次登录IP</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- 开始循环 -->
                                            <template v-for="(user,index) in varList">
                                                <tr>
                                                    <td>
                                                        <div class="checkbox d-inline">
                                                            <input type="checkbox" v-bind:id="'zcheckbox'+index"
                                                                   name='ids' v-bind:value="user.USER_ID"
                                                                   v-bind:alt="user.EMAIL" v-bind:title="user.USERNAME">
                                                            <label style="max-height: 12px;"
                                                                   v-bind:for="'zcheckbox'+index" class="cr"></label>
                                                        </div>
                                                    </td>
                                                    <td scope="row" class="boldXh">
                                                        {{page.showCount*(page.currentPage-1)+index+1}}
                                                    </td>
                                                    <td>{{user.NUMBER}}</td>
                                                    <td>{{user.USERNAME}}</td>
                                                    <td>{{user.NAME}}</td>
                                                    <td>{{user.ROLE_NAME}}</td>
                                                    <td>{{user.EMAIL}}</td>
                                                    <td>{{user.LAST_LOGIN}}</td>
                                                    <td>{{user.IP}}</td>
                                                    <td class="boldCz">
                                                        <a v-show="edit" title="修改" v-on:click="editUser(user.USER_ID)"
                                                           style="cursor:pointer;"><i
                                                                class="feather icon-edit-2"></i></a>
                                                        <a v-show="del" title="删除"
                                                           v-on:click="delUser(user.USER_ID,user.NAME)"
                                                           style="cursor:pointer;"><i class="feather icon-x"></i></a>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-show="varList.length==0">
                                                <td colspan="10">没有相关数据</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <div style="float: right;padding-top: 0px;margin-top: 0px;"
                                                     v-html="page.pageStr"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- [ Hover-table ] end -->

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->

<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/sys/user_list.js"></script>

</body>
</html>