<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--顶部js-->
	<script src="../../../assets/js-v/header.js"></script>
    
</head>

<body>
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

							    <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
					
										<div id="showform" style="padding-top: 10px;padding-left: 10px;">
											<table style="width: 900px;">
											<tr>
												<td>
							                        <div class="input-group input-group-sm mb-3">
							                           	<input class="form-control" type="text" v-model="keywords" id="keywords" placeholder="请输入用户名或者姓名" />
							                        </div>
												</td>
												<td style="float: left;padding-left: 10px;">
													<a class="btn btn-light btn-sm" v-on:click="getList" style="width: 23px;height:30px;margin-top:1px;" title="检索">
														<i style="margin-top:-3px;margin-left: -6px;" class="feather icon-search"></i>
													</a>
													<a class="btn btn-light btn-sm" href="../qgroup/qgroup_add.html" style="height:30px;margin-top:1px;" title="找群">
														找群
													</a>
												</td>
											</tr>
											</table>
											<table>
												<!-- 开始循环 -->	
												<template v-for="(zdata,zindex) in varList">
												<tr>
													<template v-for="(data,index) in zdata">
													<td>
														<div style="padding-left:26px;padding-top:15px;padding-bottom:15px" class="center">
														    <li v-bind:data-uid="data.USERNAME" data-fromGroup="0" v-bind:data-username="data.NAME" v-bind:data-avatar="(null == data.PHOTO1 || '' == data.PHOTO1)?httpurl+'assets/images/user/avatar-2.jpg':httpurl+data.PHOTO1" >
														      <a data-type="agree" class="layui-fh" style="cursor:pointer;">
														        <img v-bind:src="(null == data.PHOTO2 || '' == data.PHOTO2)?'../../../assets/images/user/avatar-2.jpg':httpurl+data.PHOTO2" class="layui-circle layim-msgbox-avatar" width="55px;">
														      </a>
														      <p class="layim-msgbox-user" style="text-align: center;">
														        <a data-type="agree" class="layui-fh1" v-on:click="viewUser(data.USERNAME);" style="cursor:pointer;">{{data.NAME}}</a>
														      </p>
														    </li>
														</div>
													</td>
													</template>
												</tr>
												</template>
												
												<tr v-show="varList.length==0">
													<td colspan="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'' == keywords?"请先搜索":'没有相关好友'}}</td>
												</tr>
												<tr>
													<td style="height: 15px;"></td>
												</tr>
											</table>
										</div>
										<!-- [加载状态 ] start -->
									    <div v-show="loading" style="margin-top:1px;">
									    	<div class="d-flex justify-content-center">
		                                   <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
		                                          <span class="sr-only">Loading...</span>
		                                      </div>
		                                  </div>
		                                  <br><br>
		                              	</div>
									    <!-- [ 加载状态  ] End -->
					
                     				</div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->

	<!--js-->
	<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/fhim/friends_add.js"></script>

</body>
</html>