<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyx.mapper.dsno1.system.DictionariesMapper">
	
	<resultMap type="Dictionaries" id="dictResultMap">
		<id column="DICTIONARIES_ID" property="DICTIONARIES_ID"/>
		<result column="NAME" property="NAME"/>
		<result column="PARENT_ID" property="PARENT_ID"/>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,	
		NAME_EN,	
		BIANMA,	
		ORDER_BY,	
		PARENT_ID,	
		BZ,	
		TBSNAME,
		TBFIELD,
		YNDEL,
		DICTIONARIES_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{NAME_EN},	
		#{BIANMA},	
		#{ORDER_BY},	
		#{PARENT_ID},	
		#{BZ},	
		#{TBSNAME},
		#{TBFIELD},
		#{YNDEL},
		#{DICTIONARIES_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			NAME_EN = #{NAME_EN},
			ORDER_BY = #{ORDER_BY},
			BZ = #{BZ},
			TBSNAME = #{TBSNAME},
			TBFIELD = #{TBFIELD}
		where 
			DICTIONARIES_ID = #{DICTIONARIES_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			DICTIONARIES_ID = #{DICTIONARIES_ID}
	</select>

	<!-- 查询装备类型 -->
	<select id="getZblx" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		PARENT_ID = 'ee6aa910fe2e4ce1aaee51348dbcf102'
	</select>
	
	<!-- 通过编码获取数据 -->
	<select id="findByBianma" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BIANMA = #{BIANMA}
	</select>
	
	<!-- 通过ID获取其子级列表 -->
	<select id="listSubDictByParentId" parameterType="String" resultMap="dictResultMap">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PARENT_ID = #{parentId} or NAME_EN = #{parentId} order by ORDER_BY
	</select>

	<!-- 根据标识获取其子级列表 -->
	<select id="getDictByBsId" parameterType="String" resultMap="dictResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		PARENT_ID  in
		(select DICTIONARIES_ID from sys_dictionaries where NAME_EN =#{NAME_EN})
		order by ORDER_BY
	</select>

	<!-- 查询字典编码或者标识是否已存在 -->
	<select id="findByMcBs" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		and DICTIONARIES_ID != #{DICTIONARIES_ID}
		and
		(
		<if test="BIANMA != null and BIANMA != ''">
				f.BIANMA = #{BIANMA}
		</if>
		<if test="NAME_EN != null and NAME_EN != ''">
			or f.NAME_EN =#{NAME_EN}
		</if>
		)
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
			1=1
		<if test="pd.DICTIONARIES_ID!= null and pd.DICTIONARIES_ID != ''"><!-- 检索 -->
		and PARENT_ID = #{pd.DICTIONARIES_ID}
		</if>
		<if test="pd.keyWords != null and pd.keyWords != ''"><!-- 关键词检索 -->
			and
				(
				 NAME LIKE CONCAT(CONCAT('%', #{pd.keyWords}),'%')
				 or 
				 NAME_EN LIKE CONCAT(CONCAT('%', #{pd.keyWords}),'%')
				 or
				 BIANMA LIKE CONCAT(CONCAT('%', #{pd.keyWords}),'%')
				)
		</if>
		order by ORDER_BY
	</select>
	
	<!-- 排查表检查是否被占用 -->
	<select id="findFromTbs" parameterType="pd" resultType="pd">
		select
			count(*) zs
		from 
			${thisTable}
		where
			${TBFIELD} = #{BIANMA}
	</select>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			DICTIONARIES_ID = #{DICTIONARIES_ID}
	</delete>

	<!-- 左侧字典树（懒加载） 拿父级节点下所有子节点 -->
	<select id="getChildrenByParentId" parameterType="pd" resultType="pd">
		SELECT
			f.DICTIONARIES_ID,
			f.NAME,
			f.PARENT_ID,
			CASE
				WHEN ( SELECT count( 1 ) FROM sys_dictionaries c WHERE c.PARENT_ID = f.DICTIONARIES_ID ) > 0 THEN
					'true' ELSE 'false'
				END AS isParent
		FROM
			sys_dictionaries f
		WHERE
			f.PARENT_ID =#{DICTIONARIES_ID}
	</select>
	
	<!-- fh3135-96790qq(青苔) -->
</mapper>