<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>资产管理-退役报废的查看页面</title>
	<!--
      * Description：资产管理-退役报废计划
      * @Author：陈磊
      * Date：2020-12-17
      -->
	<!--引入顶部js-->
	<script src="../../../assets/js-v/header.js"></script>
	<style type="text/css">
		.form-control {
			width: calc(50% - 100px) !important;
		}
	</style>
</head>

<body style="background-color: white">

<!-- [加载状态 ] start -->
<div class="loader-bg">
	<div class="loader-track">
		<div class="loader-fill"></div>
	</div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app" v-cloak>
	<div class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<!-- [ Main Content ] start -->
					<div class="row">

								<div style="width: 100%;">
									<div id="showform">
										<div class="input-group" style="margin-top:-10px;background-color: white" >
							            	<span style="width: 100%;height:50px;text-align: center;">
							            		<a class="btn btn-light btn-sm btn-danger" v-on:click="cancel">
													<i style="margin-top:-3px;margin-left: -6px;"
													   class="feather icon-x"></i>取消
												</a>
							            	</span>
										</div>

								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 100px;"><span style="width: 100%;">申请单号：</span></span>
									</div>
									<input type="text" class="form-control" ref="SQDH" id="SQDH" maxlength="50"
										   title="申请单号" disabled>
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 100px;"><span style="width: 100%;">申请人：</span></span>
									</div>
									<input type="text" class="form-control" ref="SQR" id="SQR" v-model="pd.SQR" maxlength="32"
										   placeholder="请输入申请人" title="申请人" disabled>
								</div>
								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 100px;"><span style="width: 100%;">申请日期：</span></span>
									</div>
									<input type="text" class="span10 date-picker form-control" dateformat="yyyy-mm-dd hh:ii" ref="SQRQ" id="SQRQ" maxlength="32" title="申请日期" disabled >
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 100px;"><span style="width: 100%;" >所属部门：</span></span>
									</div>
									<input type="text" class="form-control" ref="SSBM" id="SSBM" v-model="pd.SSBM" maxlength="32"
										   placeholder="点击选择所属部门" title="所属部门" disabled>
								</div>

								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 100px;align-items: baseline"><span
												style="width: 100%;" notnullflag>报废原因：</span></span>
									</div>
									<textarea type="text" class="form-control" ref="BFYY" id="BFYY"
											  v-model="pd.BFYY" style="height: 80px" maxlength="300" checknull checkerror="请输入正确的退役原因"
											  placeholder="请输入报废原因" title="报废原因" disabled></textarea>
								</div>
								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 100px;align-items: baseline"><span
												style="width: 100%;">备注：</span></span>
									</div>
									<textarea rows="1" type="text" class="form-control" ref="BZ" id="BZ"
											  v-model="pd.BZ" maxlength="300" style="height: 80px" placeholder="请输入备注"
											  title="备注" disabled></textarea>
								</div>
							</div>
							<!-- [加载状态 ] start -->
							<div id="jiazai" style="display:none;margin-top:50px;">
								<div class="d-flex justify-content-center">
									<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
										<span class="sr-only">Loading...</span>
									</div>
								</div>
							</div>
							<!-- [ 加载状态  ] End -->
							<template v-if="msg == 'edit'">
								<div style="margin-top: 10px;width: 100%;">
									<iframe name="treeFrame" id="treeFrame" frameborder="0"
											v-bind:src="'../tybfmx/tybfmx_list.html?TYBF_ID='+TYBF_ID+'&type=view'"
											style="margin:0 auto;width:100%;height:466px;;"></iframe>
								</div>
							</template>

						</div>

					</div>
					<!-- [ Main Content ] end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ 主内容区 ] end -->

<!--引入底部js-->
<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!--本页面js-->
<script src="../../../assets/js-v/zcgl/tybf/tybf_edit.js"></script>

</body>
</html>