<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>资产管理-物资采购列表页面</title>
    <!--引入顶部js-->
    <script src="../../../assets/js-v/header.js"></script>
    <!--滚动条样式设置-->
    <link rel="stylesheet" href="../../../assets/css/page.css">

</head>
<body>

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content" style="padding-top: 0px;">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div style="width: 100%;height: calc(100% - 2px);margin-top: 2px">
                            <div style="width: 100%;height: 100%;float: left;">
                                <iframe src="/views/zcgl/homepage/rwgl.html" style="width: 100%;height:100%;" frameborder="0"></iframe>
                            </div>
<!--                            <div style="width: 100%;height: 48%;margin-top: 100px;">-->
<!--                                <iframe src="/views/zcgl/tjcx/tjcx_list.html" style="width: 100%;height:100%" frameborder="0"></iframe>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->

<!--引入底部js-->
<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!--本页面js-->
<!--<script src="../../../assets/js-v/zcgl/homepage/homepage_list.js"></script>-->

</body>
</html>