<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <script src="../../../assets/js-v/header.js"></script>
    <!--自适应设置-->
    <link rel="stylesheet" href="../../../assets/css/adaption_cd.css">
    <!--滚动条样式设置-->
    <link rel="stylesheet" href="/assets/css/page.css">
    <style type="text/css">
        .xlk {
            width: calc(52% - 115px);
        }
    </style>
</head>

<body>

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content" style="padding-top: 0px;">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <!-- [ Hover-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">

                                <!-- 检索条件  -->
                                <div id="cx" style="padding-left: 15px;padding-top: 5px;" class="queryLayout">
                                    <table style="margin-top:5px;width: 99.4%;">
                                        <tr>

                                            <template v-if="type != 'view'">
                                                <td style="vertical-align:top;">
                                                    <a class="btn btn-light btn-sm" v-on:click="goAdd"><i
                                                            style="margin-top:-3px;margin-left: -6px;"
                                                            class="feather icon-plus"></i>选择物资</a>
                                                    <a class="btn btn-light btn-sm btn-danger"
                                                       v-on:click="makeAll('确定要删除选中的数据吗?')"><i
                                                            style="margin-top:-3px;margin-left: -6px;"
                                                            class="feather icon-trash-2"></i>删除</a>
                                                </td>

                                            </template>
                                            <td v-show="loading">
                                                <!-- [加载状态 ] start -->
                                                <div class="d-flex justify-content-center" style="margin-top:-10px;">
                                                    <div class="spinner-grow spinner-grow-sm" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <!-- [ 加载状态  ] End -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 检索  -->
                                <div style="padding-left: 15px;">
                                    <table>
                                        <tr>
                                            <td v-show="loading">
                                                <!-- [加载状态 ] start -->
                                                <div class="d-flex justify-content-center" style="margin-top:-10px;">
                                                    <div class="spinner-grow spinner-grow-sm" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <!-- [ 加载状态  ] End -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 检索  -->
                                <div class="card-block table-border-style" style="margin-top: -15px">
                                    <div class="table-responsive">
                                        <table id="simple-table" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th style="width: 35px;" id="cts">
                                                    <template v-if="type != 'view'">
                                                        <div class="checkbox d-inline">
                                                            <input type="checkbox" name="fhcheckbox" id="zcheckbox">
                                                            <label style="max-height: 12px;" for="zcheckbox"
                                                                   class="cr"></label>
                                                        </div>
                                                    </template>
                                                </th>
                                                <th style="width:50px;">序号</th>
                                                <th >物资编号</th>
                                                <th >物资名称</th>
                                                <th >物资分类</th>
                                                <th >生产厂家</th>
                                                <th >型号</th>
                                                <th >计量单位</th>
                                                <th >责任人</th>
                                                <th >报废日期</th>
                                                <th >登记日期</th>
                                                <template v-if="type != 'view'">
                                                    <th>操作</th>
                                                </template>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <!-- 开始循环 -->
                                            <template v-for="(data,index) in varList">
                                                <tr>
                                                    <td>
                                                        <template v-if="type != 'view'">
                                                            <div class="checkbox d-inline">
                                                                <input type="checkbox" v-bind:id="'zcheckbox'+index"
                                                                       name='ids' v-bind:value="data.TYBFMX_ID">
                                                                <label style="max-height: 12px;"
                                                                       v-bind:for="'zcheckbox'+index"
                                                                       class="cr"></label>
                                                            </div>
                                                        </template>
                                                    </td>
                                                    <td scope="row"
                                                        class="boldXh">
                                                        {{page.showCount*(page.currentPage-1)+index+1}}
                                                    </td>
                                                    <td>{{data.WZBH}}</td>
                                                    <td>{{data.WZMC}}</td>
                                                    <td>{{data.WZFL}}</td>
                                                    <td>{{data.SCCJ}}</td>
                                                    <td>{{data.XH}}</td>
                                                    <td>{{data.JLDW}}</td>
                                                    <td>{{data.ZRR}}</td>
                                                    <template v-if="type != 'view'">
                                                        <td class="hasText">
                                                            <input class="span10 date-picker form-control text"
                                                                   v-model="data.BFRQ"
                                                                   autocomplete="off" type="text"
                                                                   v-on:blur="onChange($event,data)"
                                                                   style="width:200px;border-radius: 0.2rem;"
                                                                   placeholder="请输入报废日期"
                                                                   title="报废日期" readonly>
                                                        </td>
                                                        <td> {{data.DJRQ}}</td>
                                                        <td class="boldCz">
                                                            <a title="删除" v-on:click="goDel(data.TYBFMX_ID,index)"
                                                               style="cursor:pointer;"><i
                                                                    class="feather icon-x"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-else>
                                                        <td>{{data.BFRQ}}</td>
                                                        <td> {{data.DJRQ}}</td>
                                                    </template>

                                                </tr>
                                            </template>
                                            <tr v-show="varList.length==0">
                                                <td colspan="11">没有相关数据</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table style="width:100%;margin-top:15px;">
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <div style="float: right;padding-top: 0px;margin-top: 0px;"
                                                     v-html="page.pageStr"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- [ Hover-table ] end -->

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->
<!--底部js-->
<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!--本页面js-->
<script src="../../../assets/js-v/zcgl/tybfmx/tybfmx_list.js"></script>
</body>
</html>
