<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>运行中流程-办理角色</title>
	 <!--
	  * Description：办理角色
	  * Author：杨乐天
	  * Date：2020/5/19
	  -->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--顶部js-->
    <script src="../../../assets/js-v/header.js"></script>
</head>
<body style="background-color: white">

    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content" style="padding-top:0px;">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                            	<!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
										<input type="hidden" v-model="RNUMBER" id="RNUMBER" />
										<input type="hidden" v-model="ROLE_NAME" id="ROLE_NAME" />
										<!-- 检索条件  -->
										<div style="padding-left: 15px;padding-top: 5px;">
										<table>
											<tr>
												<td><span style="float: left;height: 30px;line-height: 30px;margin-left:5px">角色：</span>
							                        <div class="input-group input-group-sm mb-3 adjustMarg" style="float: left;width: auto;">
                                                     	<input class="form-control" type="text" v-model="keyWords" placeholder="请输入角色" onkeydown="keyDown()"/>
                                                 	</div>
												</td>
												<td style="vertical-align:top;padding-left:5px;">
													<a class="btn btn-light btn-sm" v-on:click="getList" title="查询" id="key-search">
														<i style="margin-top:-3px;margin-left: -6px;"  class="feather icon-search">查询</i>
													</a>
													<a class="btn btn-light btn-sm" v-on:click="rest" title="重置">
														<i  style="margin-top:-3px;margin-left: -6px;"
															class="feather icon-refresh-cw"></i>重置</a>
												</td>

												<td v-show="loading">
													<!-- [加载状态 ] start -->
											    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
			                                            <div class="spinner-grow spinner-grow-sm" role="status">
			                                                <span class="sr-only">Loading...</span>
			                                            </div>
			                                        </div>
											    	<!-- [ 加载状态  ] End -->
												</td>
												<div style="float: right;width:23%;margin-top: 10px;">
													<span style="font-size: 15px;font-weight: bolder;color: darkblue;margin-right: 20px;">提示：双击选择办理角色。</span>
												</div>
											</tr>
										</table>
										</div>
										<!-- 检索  -->
										<div class="card-block table-border-style" style="margin-top: -15px">
		                                	<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th style="width:35px;" id="fhadminth">序号</th>
															<th style="width:360px;">角色</th>
															<th>编号</th>
														</tr>
													</thead>
													<tbody>
														<!-- 开始循环 -->
														<template v-for="(data,index) in varList">
															<tr v-on:dblclick="setRole(data.RNUMBER,data.ROLE_NAME)" style="cursor:pointer;">
																<td scope="row"class="boldXh">{{page.showCount*(page.currentPage-1)+index+1}}</td>
																<td>{{data.ROLE_NAME}}</td>
																<td>{{data.RNUMBER}}</td>
															</tr>
														</template>
														<tr v-show="varList.length==0">
															<td colspan="10">没有相关数据</td>
														</tr>
													</tbody>
												</table>
											</div>
											<table style="width:100%;">
												<tr>
													<td style="vertical-align:top;"></td>
													<td style="vertical-align:top;"><div style="float: right;padding-top: 0px;margin-top: 0px;" v-html="page.pageStr"></div></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->

<script type="text/javascript" src="../../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../assets/js-v/footer.js"></script>
<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/sys/window_role_list.js"></script>
</body>
</html>