<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>资产管理-物资采购列表页面</title>
    <!--引入顶部js-->
    <script src="../../../assets/js-v/header.js"></script>
    <!--滚动条样式设置-->
    <link rel="stylesheet" href="../../../assets/css/page.css">

</head>

<body>

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content" style="padding-top: 0px;">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <!-- [ Hover-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <!-- 检索条件  -->
                                <div style="padding-left: 15px;padding-top: 5px;" class="queryLayout">
                                    <table style="margin-top:5px;">
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <a  class="btn btn-light btn-sm" v-on:click="goAdd"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-plus"></i>新增</a>

                                                <!--<a  class="btn btn-light btn-sm btn-danger"-->
                                                   <!--v-on:click="makeAll('确定要删除选中的数据吗?')"><i-->
                                                        <!--style="margin-top:-3px;margin-left: -6px;"-->
                                                        <!--class="feather icon-trash-2"></i>删除</a>-->
                                            <td><span class="searchName">模糊查询：</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <input class="form-control" type="text" v-model="keyWords"
                                                           onkeyup="keyDown()" style="width: 270px"
                                                           title="请输入采购单号、采购名称、拟制人查询" placeholder="请输入采购单号、采购名称、拟制人查询"/>
                                                </div>
                                            </td>
                                            <td style="padding-left:2px;"><span class="searchName">&nbsp;&nbsp;拟制时间：从&nbsp;&nbsp;</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <input class="span10 date-picker form-control" name="startTime"
                                                           id="startTime"
                                                           autocomplete="off" type="text" startDateformat="yyyy-mm-dd"
                                                           readonly
                                                           style="width:150px;cursor: pointer" placeholder="开始时间"
                                                           title="开始时间"/>
                                                </div>
                                            </td>
                                            <td style="padding-left:2px;"><span class="searchName">&nbsp;&nbsp;到&nbsp;&nbsp;</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <input class="span10 date-picker form-control" name="endTime"
                                                           id="endTime" readonly
                                                           autocomplete="off" type="text" endDateformat="yyyy-mm-dd"
                                                           style="width:150px;cursor: pointer" placeholder="结束时间"
                                                           title="结束时间"/>
                                                </div>
                                            </td>
                                            <td style="padding-left:2px;"><span class="searchName">&nbsp;&nbsp;状态：&nbsp;&nbsp;</span>
                                                <div class="input-group input-group-sm mb-3 adjustMarg"
                                                     style="float: left;width: auto;">
                                                    <select class="js-example-placeholder-multiple col-sm-12"
                                                            v-model="ZT"
                                                            id="selZt" data-placeholder="请选择">
                                                        <option value=""></option>
                                                        <template v-for="data in selList">
                                                            <option v-bind:value="data.selId">{{data.selName}}</option>
                                                        </template>
                                                    </select>
                                                </div>
                                            </td>

                                            <td style="vertical-align:top;padding-left:5px;">
                                                <a id="key-search" class="btn btn-light btn-sm" v-on:click="getList"
                                                   title="检索"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-search"></i>查询</a>
                                                <a class="btn btn-light btn-sm" v-on:click="rest" title="重置">
                                                    <i style="margin-top:-3px;margin-left: -6px;"
                                                       class="feather icon-refresh-cw"></i>重置</a>
                                                <!--<a v-show="toExcel" class="btn btn-light btn-sm" v-on:click="goExcel"-->
                                                   <!--title="导出到excel表格">-->
                                                    <!--<i style="margin-top:-3px;margin-left: -6px;"-->
                                                       <!--class="mdi mdi-cloud-download"></i>导出-->
                                                <!--</a>-->
                                            </td>
                                            <td v-show="loading">
                                                <!-- [加载状态 ] start -->
                                                <div class="d-flex justify-content-center" style="margin-top:-10px;">
                                                    <div class="spinner-grow spinner-grow-sm" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                                <!-- [ 加载状态  ] End -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 检索  -->
                                <div class="card-block table-border-style" style="margin-top: -15px">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <!--<th style="width: 35px;" id="cts">-->
                                                    <!--<div class="checkbox d-inline">-->
                                                        <!--<input type="checkbox" name="fhcheckbox" id="zcheckbox">-->
                                                        <!--<label style="max-height: 12px;" for="zcheckbox"-->
                                                               <!--class="cr"></label>-->
                                                    <!--</div>-->
                                                <!--</th>-->
                                                <th style="width:35px;">序号</th>
                                                <th>采购单号</th>
                                                <th>采购名称</th>
                                                <th>所属部门</th>
                                                <th>采购数量</th>
                                                <th>采购金额（元）</th>
                                                <th>拟制人</th>
                                                <th>采购日期</th>
                                                <th>拟制时间</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <!-- 开始循环 -->
                                            <template v-for="(data,index) in varList">
                                                <tr>
                                                    <!--<td>-->
                                                        <!--<template v-if="data.ZT == 0">-->
                                                            <!--<div class="checkbox d-inline">-->
                                                                <!--<input type="checkbox" v-bind:id="'zcheckbox'+index"-->
                                                                       <!--name='ids' v-bind:value="data.WZCG_ID">-->
                                                                <!--<label style="max-height: 12px;"-->
                                                                       <!--v-bind:for="'zcheckbox'+index"-->
                                                                       <!--class="cr"></label>-->
                                                            <!--</div>-->
                                                        <!--</template>-->
                                                    <!--</td>-->
                                                    <td scope="row" class="boldXh">
                                                        {{page.showCount*(page.currentPage-1)+index+1}}
                                                    </td>
                                                    <td>{{data.CGDH}}</td>
                                                    <td>{{data.CGMC}}</td>
                                                    <td>{{data.SSBM}}</td>
                                                    <td>{{data.CGSL}}</td>
                                                    <td>{{data.CGJE}}</td>
                                                    <td>{{data.NZR}}</td>
                                                    <td>{{data.CGRQ}}</td>
                                                    <td>{{data.NZSJ}}</td>
                                                    <td>
                                                        <template v-if="data.ZT == 0">
                                                            未提交
                                                        </template>
                                                        <template v-if="data.ZT == 1">
                                                            审批中
                                                        </template>
                                                        <template v-if="data.ZT == 2">
                                                            已完成
                                                        </template>
                                                        <template v-if="data.ZT == 3">
                                                            已作废
                                                        </template>
                                                    </td>
                                                    <td class="boldCz">
                                                        <a  title="导出"
                                                            v-on:click="goWord(data.WZCG_ID)"
                                                            style="cursor:pointer;"><i
                                                                class="feather icon-download"></i></a>
                                                        <template v-if="data.ZT == 0">
                                                            <a  title="修改"
                                                               v-on:click="goEdit(data.WZCG_ID)"
                                                               style="cursor:pointer;"><i
                                                                    class="feather icon-edit-2"></i></a>
                                                        </template>
                                                        <a title="查看" v-on:click="goView(data.WZCG_ID)"
                                                           style="cursor:pointer;"><i class="feather icon-eye"></i></a>
                                                        <template v-if="data.ZT == 0">
                                                            <a  title="删除"
                                                               v-on:click="goDel(data.WZCG_ID)"
                                                               style="cursor:pointer;"><i
                                                                    class="feather icon-x"></i></a>
                                                        </template>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-show="varList.length==0">
                                                <td colspan="20">没有相关数据</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <div style="float: right;padding-top: 0px;margin-top: 0px;"
                                                     v-html="page.pageStr"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- [ Hover-table ] end -->

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->

<!--引入底部js-->
<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!--本页面js-->
<script src="../../../assets/js-v/zcgl/wzcg/wzcg_list.js"></script>

</body>
</html>