<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--css-->
    <script src="../../../assets/js-v/header.js"></script>

</head>

<body style="background-color: white">

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div style="width: 100%;">
                            <div id="showform" style="margin-top: -6px;margin-left: 16px;">
                                <div class="input-group" style="margin-top:-10px;background-color: white">
							            	<span style="width: 100%;height:50px;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save"><i
                                                        style="margin-top:-3px;margin-left: -6px;"
                                                        class="feather icon-check"></i>确定</a>
							            		<a class="btn btn-light btn-sm btn-danger" v-on:click="close">
                                                    <i style="margin-top:-3px;margin-left: -6px;"
                                                       class="feather icon-x"></i>取消</a>
							            	</span>
                                </div>
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="width: 79px;"><span
                                                            style="width: 100%;">责任人：</span></span>
                                                </div>
                                                <input type="hidden" v-model="ZRRNM" id="ZRRNM"/>
                                                <input type="text" class="form-control" ref="ZRR"
                                                       v-model="ZRR" maxlength="32" placeholder="请录入责任人"
                                                       title="责任人" readonly="readonly">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="width: 79px;"><span
                                                            style="width: 100%;">所属部门：</span></span>
                                                </div>
                                                <input type="hidden" v-model="SSBMNM" id="SSBMNM"/>
                                                <input type="text" class="form-control" ref="SSBM"
                                                       v-model="SSBM" maxlength="32" placeholder="请录入所属部门"
                                                       title="所属部门" readonly="readonly">
                                            </div>
                                        </td>

                                        <td style="vertical-align:top;padding-left:5px;">
                                            <a class="btn btn-light btn-sm" title="选择责任人" v-on:click="getUser"
                                               style="width: 80px;height:30px;margin-top:1px;cursor:pointer;">
                                                <i class="feather icon-user"
                                                   style="margin-top:-6px;margin-left: -6px;"></i>责任人
                                            </a>
                                            <a class="btn btn-light btn-sm" title="选择所属部门"
                                               v-on:click="getDept"
                                               style="width: 95px;height:30px;margin-top:1px;cursor:pointer;margin-left:-6px;">
                                                <i class="feather icon-menu"
                                                   style="margin-top:-6px;margin-left: -6px;"></i>所属部门
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- [加载状态 ] start -->
                            <div id="jiazai" style="display:none;margin-top:5px;">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <!-- [ 加载状态  ] End -->
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->

<script type="text/javascript" src="../../../assets/js-v/footer.js"></script>
<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/zcgl/wzdj/wzdj_edit_all.js"></script>

</body>
</html>