
body{
    line-height: 1.15;
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    font-family: "微软雅黑";
    border: 0px;
  }
  .content{
  height:calc(100% - 4.5rem)
  }

/* 左中右布局 */
.main_left {
    float: left;
    margin-left: 1%;
    width: 20%;
    height: 100%;
  }
  .main_cen {
    float: left;
    margin-left: 1.5%;
    width: 77.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* 弹出层样式 */
  .el-popover ul{
    list-style: none;
  }
  .el-popover ul li{
    margin-bottom: 4px;
  }
 
/* 实力分布 */
.slfb{
    height: calc(100% - 0.833rem);
}
  .slfb ul{
    padding: 0 1rem;
    margin: 0;
  }
  .slfb ul li{
    line-height: 2rem;
    font-size: 14px;
    justify-content: space-between;
    list-style: none;
  }
  .slfb ul h3{
    padding: 0;
  }
 
/* ------------------------------------------------------------动画 */
@keyframes row{
    0%{}
    100%{
      transform: translateY(-50%);
    }
  }
  /* 调用动画 */
  .slfb .marquee{
    /* //infinite永久调用动画 */
    animation: row  30s linear infinite;
  }

  /*鼠标划入 停止动画  */
  .slfb .marquee:hover {
    animation-play-state: paused;
  }
  
/* 地图  */
.main_cen h3 {
  line-height: 1;
  padding: 0.667rem 0;
  margin: 0;
  font-size: 0.833rem;
  color: #fff;
}
.main_cen .icon-cube {
  color: #68d8fe;
}
.main_cen .chart {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
}
.main_cen .geo {
  width: 100%;
  height: 100%;
}
.dwlin .tags{
  position: relative;
  z-index:9;
}


  /*隐藏版权信息*/
  .ol-attribution.ol-unselectable.ol-control.ol-collapsed {
    display: none;
  }

  /*隐藏放大缩小图标*/
  .ol-zoom.ol-unselectable.ol-control {
      display: none;
  }
  /**地图文字设置*/
  .fontClass {
      -webkit-transform: scale(1, 1) !important;;
      -webkit-transform-origin: 0 0;
  }

  .mini-panel-header-inner {
      background: #2D71BB !important;;
      background-size: 100% 100%;
  }

  .el-dialog__wrapper{
    height:auto !important;
  }
  .el-dialog {
    height:calc(100% - 12vh);
      background:#073F14;
  }
.el-checkbox {
    color: #fff;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #fff;
}
.el-dialog__header {
    padding: 1.12rem 1.12rem 0.62rem;
}
.el-dialog__headerbtn {
    top: 0.62rem;
    right: 1.25rem;
    font-size: 1rem;
}
.el-dialog__body {
    height: calc(100% - 1.74rem);
    overflow: auto;
    overflow: hidden;
    padding:0.62rem 1.12rem;
}
.el-checkbox__label {
    line-height: 25px;
}
  .el-dialog .el-dialog__body .demo-image .el-checkbox__label{
      width: 68px;
      height: 25px;
      background: #89B70D;
      border-radius: 4px;
      margin-left: 5px;
  }
.el-button [class*=el-icon-] + span {
    margin-left: 0.3rem;
}

.demo-image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.index-item {
    display: flex;
    flex-direction: column;
    width: 9.4rem;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.25rem;
    position: relative;
    cursor: pointer;
}
.index-item-img {
    width: 9.4rem;
    height: 9.4rem;
    border-radius: 0.6rem;
}
.sel-true {
    width: 3.4rem;
    height: 3.4rem;
    position: absolute;
    top: 30%;
    display: none;
}
.index-btn {
    width: 8.25rem;
    height: 2.8rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    border: 0.12rem solid #008134;
    color:#fff;
    font-size: 0.85rem;
}
.index-btn-true {
    background: #89B70D;
    border: none !important;
}
.el-image__error{
    background: url(/assets/images/widget/dtou.jpg) center center /100% 100%;
    color: #000;
    font-size: 1.12rem;
    border-radius: 0.8rem;
}

